@if $include-footer == true {
    footer {
        @include limitMaxWidth($width, $max-width);
        bottom: 0;
        p:nth-of-type(1),
        img {
            cursor: pointer;
            margin-top: $margin-between-paragraphs;
        }
    }

}