@if $include-buttons == true {

%btn {
   width: initial;
   cursor: pointer;
   display: inline-block;
   padding: $btn-paddHeight $btn-paddWidth;
   @media(max-width: $media-m){
      padding: $btn-paddHeight/1.5 $btn-paddWidth/1.5;
   }
   font-family: complementary;
   text-transform: uppercase;
   font-size: $btn-font-size;
   border-radius: $btn-border-radius;
   border: $btn-border-width $btn-border-style;
   line-height: $line-height-small;
   transition: $transition-timeOut ease-in-out;
   text-decoration: none;
   white-space: nowrap;
   margin: 10px;
   &:hover {
      transition: $transition-timeIn ease-in-out;
   }
   &:active {
      transition: none;
   }
}

.btn--primary,
a.btn--primary,
input.btn--primary {
   @extend %btn;
   background-color: $color-1;
   color: $color-white;
   border-color: $color-1;
   &:hover {
      background-color: transparent;
      border-color: $color-1;
      color: $color-1;
      font-weight: bolder;
   }
   &:active {
      background-color: $color-grey;
      border-color: $color-grey;
      color: $color-white;
   }
}

.btn--secondary,
a.btn--secondary,
input.btn--secondary {
   @extend %btn;
   background-color: $color-black;
   color: $color-white;
   border-color: $color-black;
   &:hover {
      background-color: transparent;
      border-color: $color-black;
      color: $color-black;
   }
   &:active {
      background-color: $color-grey;
      border-color: $color-grey;
      color: $color-white;
   }
}

.btn--disabled,
a.btn--disabled,
input.btn--disabled {
   @extend %btn;
   background-color: $color-8;
   border-color: $color-8;
   color: $color-white;
   pointer-events: none;
}

.acordeon {
   cursor: pointer;
   --rotation: rotate(180deg);
   &::after {
      content: "";
      background-image: url(../img/chevron-circle-down-solid.svg);
      display: inline-block;
      width: 25px;
      height: 25px;
      transform: var(--rotation);
      position: relative;
      top: 5px;
      left: 10px;
      transition: .3s ease-in-out;
   }
   &[class*="btn"]::after {
      background-image: url(../img/chevron-circle-down-solid-white.svg);
   }
   +*{
      transition: .3s ease-in-out;
      overflow: hidden;
   }
}

// BOTONES CON FONDO OSCURO
@if $include-dark-mode-buttons == true {

.dark-bg1 {
   .btn--primary,
   a.btn--primary,
   input.btn--primary {
      background-color: $color-1;
      color: $color-white;
      border-color: $color-1;
      &:hover {
         background-color: transparent;
         border-color: $color-white;
      }
      &:active {
         background-color: $color-black;
         border-color: $color-black;
      }
   }

   .btn--secondary,
   a.btn--secondary,
   input.btn--secondary {
      background-color: $color-black;
      color: $color-white;
      border-color: $color-black;
      &:hover {
         background-color: transparent;
         border-color: $color-white;
      }
      &:active {
         background-color: $color-1;
         border-color: $color-1;
      }
   }

   .btn--disabled,
   a.btn--disabled,
   input.btn--disabled {
      @extend %btn;
      background-color: $color-8;
      border-color: $color-8;
      color: $color-white;
      pointer-events: none;
   }
}

.dark-bg2 {
   .btn--primary,
   a.btn--primary,
   input.btn--primary {
      background-color: $color-black;
      color: $color-white;
      border-color: $color-black;
      &:hover {
         background-color: transparent;
         border-color: $color-white;
      }
      &:active {
         background-color: $color-grey;
         border-color: $color-grey;
      }
   }

   .btn--secondary,
   a.btn--secondary,
   input.btn--secondary {
      background-color: transparent;
      color: $color-white;
      border-color: $color-white;
      &:hover {
         background-color: $color-black;
         border-color: $color-black;
      }
      &:active {
         background-color: $color-grey;
         border-color: $color-grey;
      }
   }

   .btn--disabled,
   a.btn--disabled,
   input.btn--disabled {
      @extend %btn;
      background-color: $color-8;
      border-color: $color-8;
      color: $color-white;
      pointer-events: none;
   }
}

}

}